/* option bar css */
.inputBoxOptionSet {
	border: 1px solid #aaa;
	border-radius: 2px;
	background: #fff;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
	overflow-x: scroll;
	padding: 0 15px;
}
.inputBoxCombinedSmall .inputBoxOptionSet {
	border-width: 1px 1px 0 1px;
	border-radius: 2px 2px 0 0;
	margin-bottom: 0;
	background: #efefef;
}
.inputBoxOptionSet::-webkit-scrollbar {
	display: none;
}
.inputBoxOption-child-group {
	border-right: 1px solid #aaa;
	display: flex;
	justify-content: flex-start;
	padding: 3px 5px;
}
.inputBoxCombinedSmall .inputBoxOption-child-group {
	border-right: none;
}
.inputBoxOption-child {
	position: relative;
	display: flex;
	justify-content: flex-start;
	flex-direction: row-reverse;
	align-items: center;
	background: none;
	border: none;
	/*border-right: 1px solid #888;*/
	margin: 0 1px;
	color: #000000b3;
	cursor: pointer;
	font-size: 16px;
	padding: 0;
	outline: none !important;
	/*font-weight: 600;*/
}
.inputBoxOption-child-view .inputBoxOption-input,
.inputBoxOption-child-view:not(.withInput) {
	padding: 4px 8px;
}
.inputBoxOption-child-option ~ .inputBoxOption-child-view:not(.withInput) {
	padding-right: 4px;
}
.inputBoxOption-child-option {
	padding: 5px;
}
.inputBoxOption-child-option:hover {
	background: #d9d9d9 !important;
}
:active .inputBoxOption-child-option:hover,
.active:not(.noActive) .inputBoxOption-child-option:hover {
	background: #ccc !important;
}
.inputBoxOption-child:active,
.inputBoxOption-child.active:not(.noActive) {
	background: #ddd;
	outline: none;
}
.inputBoxCombinedSmall .inputBoxOption-child:active,
.inputBoxCombinedSmall .inputBoxOption-child.active:not(.noActive) {
	background: #ccc;
}
.inputBoxOption-child:hover,
.inputBoxOption-child:active,
.inputBoxOption-child.active:not(.noActive) {
	color: #000000;
}
.inputBoxOption-child:hover {
	box-shadow: inset 1px 1px 3px 0 #dfdfdf;
	background: #eee;
}
.inputBoxCombinedSmall .inputBoxOption-child:hover {
	box-shadow: inset 1px 1px 3px 0 #b9b1b1;
	background: #cecece;
	border-radius: 2px;
}
.inputBoxOption-input {
	border: 1px solid transparent;
	background: transparent;
	color: inherit;
	font: inherit;
	padding: 5px 8px;
	outline: none !important;
	font-size: 14px;
	font-weight: 600;
}
select.inputBoxOption-input {
	cursor: pointer;
}
.inputBoxOption-input:focus {
	/* background: #fff; */
	/* border-color: #0066ff; */
	box-shadow: inset 1px 1px 3px 1px #ddd;
}
.inputBoxOption-input[type="text"] {
	width: 80px;
}
.inputBoxOption-input[type="number"] {
	width: 50px;
	-moz-appearance: textfield;
}
.inputBoxOption-input[type=number]::-webkit-inner-spin-button, 
.inputBoxOption-input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
}

/* content editor box css */
.inputBoxCombinedSmall,
.inputBox {
	box-shadow: 2px 2px 3px 0 #ccc;
}
.inputBox {
	background: #fff;
	position: relative;
	padding: 20px;
	border: 1px solid #aaa;
	border-radius: 5px;
	cursor: text;
	outline: none;
	caret-color: grey;
	min-height: 100px;
}
.inputBoxCombinedSmall .inputBox {
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 2px 2px;
	margin-top: 0;
	box-shadow: none;
}
.inputBox:empty:not(:focus):before {
	display: block;
	font-style: italic;
	color: grey;
	font-size: 16px;
	content: attr(placeholder);
}
.inputBoxCombinedSmall:hover,
.inputBoxCombinedSmall:focus,
.inputBox:hover,
.inputBox:focus {
	box-shadow: 2px 2px 3px 0 #ccc, 2px 2px 5px 1px #aaa;
}
.inputBoxCombinedSmall .inputBox:hover,
.inputBoxCombinedSmall .inputBox:focus {
	box-shadow: none;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style-type: lower-roman;
}
ol ol ol {
	list-style-type: lower-latin;
}
.editorPollDiv {
	padding: 20px;
	background: #eee;
	font-family: monospace !important;
	font-size: 16px;
}
.table-editing-hover td:hover,
.table-editing-hover th:hover {
	box-shadow: inset 1px 1px 5px 2px #ddd;
	background-color: rgba(0,0,0,.075);
}
quote {
	display: block;
	min-height: 1px;
	border-left: 4px solid #39607b;
	background: #f3f3f3;
	padding: 10px 20px;
	font-weight: 300;
	font-size: 20px;
}

/* input taker modal css */
.inputTakerBody {
	border: 1px solid #bbb;
	border-radius: 3px;
	padding: 20px;
	min-height: 50%;
	min-width: 70%;
	background: #fff;
	box-shadow: 2px 2px 5px 2px #909090;
}
.btn-square {
	border-radius: 2px;
}
.center-content-flex {
	display: flex;
	justify-content: center;
}
.seperator-text {
	padding: 10px 0;
	color: grey;
	position: relative;
	text-align: center;
	z-index: 0;
}
.seperator-text span {
	background: #fff;
	z-index: 1;
	padding: 0 10px;
	font-size: 20px;
	font-style: italic;
	color: var(--secondary);
}
.seperator-text:before {
	content: " ";
	border: 0.5px dashed var(--secondary);
	position: absolute;
	top: 50%;
	left: 10%;
	z-index: -1;
	width: 80%;
}
.modal-loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
}
.modal-loader.activate {
	display: none;
}